server:
  port: 8081

spring:
  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: http://localhost:8080/realms/demo

jwt:
  auth:
    converter:
      principle-attribute: 253af12b-9c60-4bac-9aac-61689138c25a
      resource-id: demo
